# Visual Studio files and folder
*.sln
*.vcxproj*
# Directories
bin/
bin-int/
## Visual Studio artifacts
.vs
ipch
*.opensdf
*.log
*.pdb
*.ilk
*.user
*.sdf
*.suo
*.VC.db
*.VC.VC.opendb
## General build artifacts
*.o
*.obj
*.exe
*.db
.vs/BunnyEngine/v16/.suo
.vs/BunnyEngine/v16/Browse.VC.db-shm
.vs/BunnyEngine/v16/Solution.VC.db-wal
.vs/BunnyEngine/v16/Solution.VC.db-shm
.vs/BunnyEngine/v16/ipch/AutoPCH/f7dea8ee3b0dcde0/SCENEHIERARCHYPANEL.ipch
.vs/BunnyEngine/v16/ipch/AutoPCH/be6ff93245f3a5af/VIEWPORTPANEL.ipch
.vs/BunnyEngine/v16/ipch/AutoPCH/85d6f28d327266b4/EDITORLAYER.ipch
.vs/BunnyEngine/v16/ipch/AutoPCH/53e162421e6a9cc8/DOCKSPACE.ipch
.vs/BunnyEngine/v16/ipch/AutoPCH/32fc480de52fff4/CONTENTBROWSERPANEL.ipch
.vs/BunnyEngine/v16/ipch/47f1f1762e30f6f2.ipch
.vs/BunnyEngine/v16/Browse.VC.opendb
.vs/BunnyEngine/v16/Browse.VC.db-wal
bin-int/Debug-windows-x86_64/BunnyEngine/Application.obj
bin-int/Debug-windows-x86_64/BunnyEngine/BEpch.obj
bin-int/Debug-windows-x86_64/BunnyEngine/Buffer.obj
bin-int/Debug-windows-x86_64/BunnyEngine/BunnyEngine.lib.recipe
bin-int/Debug-windows-x86_64/BunnyEngine/BunnyEngine.log
bin-int/Debug-windows-x86_64/BunnyEngine/BunnyEngine.pch
bin-int/Debug-windows-x86_64/BunnyEngine/BunnyEngine.tlog/BunnyEngine.lastbuildstate
bin-int/Debug-windows-x86_64/BunnyEngine/BunnyEngine.tlog/CL.command.1.tlog
bin-int/Debug-windows-x86_64/BunnyEngine/BunnyEngine.tlog/CL.read.1.tlog
bin-int/Debug-windows-x86_64/BunnyEngine/BunnyEngine.tlog/CL.write.1.tlog
bin-int/Debug-windows-x86_64/BunnyEngine/BunnyEngine.tlog/Lib-link.read.1.tlog
bin-int/Debug-windows-x86_64/BunnyEngine/BunnyEngine.tlog/Lib-link.write.1.tlog
bin-int/Debug-windows-x86_64/BunnyEngine/BunnyEngine.tlog/Lib.command.1.tlog
bin-int/Debug-windows-x86_64/BunnyEngine/EditorCamera.obj
bin-int/Debug-windows-x86_64/BunnyEngine/Entity.obj
bin-int/Debug-windows-x86_64/BunnyEngine/Framebuffer.obj
bin-int/Debug-windows-x86_64/BunnyEngine/ImGuiBuild.obj
bin-int/Debug-windows-x86_64/BunnyEngine/ImGuiLayer.obj
bin-int/Debug-windows-x86_64/BunnyEngine/ImGuizmo.obj
bin-int/Debug-windows-x86_64/BunnyEngine/Layer.obj
bin-int/Debug-windows-x86_64/BunnyEngine/LayerStack.obj
bin-int/Debug-windows-x86_64/BunnyEngine/Light.obj
bin-int/Debug-windows-x86_64/BunnyEngine/Log.obj
bin-int/Debug-windows-x86_64/BunnyEngine/Material.obj
bin-int/Debug-windows-x86_64/BunnyEngine/Math.obj
bin-int/Debug-windows-x86_64/BunnyEngine/Mesh.obj
bin-int/Debug-windows-x86_64/BunnyEngine/MeshLoad.obj
bin-int/Debug-windows-x86_64/BunnyEngine/OpenGLBuffer.obj
bin-int/Debug-windows-x86_64/BunnyEngine/OpenGLContext.obj
bin-int/Debug-windows-x86_64/BunnyEngine/OpenGLFramebuffer.obj
bin-int/Debug-windows-x86_64/BunnyEngine/OpenGLRendererAPI.obj
bin-int/Debug-windows-x86_64/BunnyEngine/OpenGLShader.obj
bin-int/Debug-windows-x86_64/BunnyEngine/OpenGLTexture.obj
bin-int/Debug-windows-x86_64/BunnyEngine/OpenGLVertexArray.obj
bin-int/Debug-windows-x86_64/BunnyEngine/OrthographicCamera.obj
bin-int/Debug-windows-x86_64/BunnyEngine/OrthographicCameraController.obj
bin-int/Debug-windows-x86_64/BunnyEngine/RenderCommand.obj
bin-int/Debug-windows-x86_64/BunnyEngine/Renderer.obj
bin-int/Debug-windows-x86_64/BunnyEngine/Renderer2D.obj
bin-int/Debug-windows-x86_64/BunnyEngine/RendererAPI.obj
bin-int/Debug-windows-x86_64/BunnyEngine/Scene.obj
bin-int/Debug-windows-x86_64/BunnyEngine/SceneCamera.obj
bin-int/Debug-windows-x86_64/BunnyEngine/SceneSerializer.obj
bin-int/Debug-windows-x86_64/BunnyEngine/Shader.obj
bin-int/Debug-windows-x86_64/BunnyEngine/stb_image.obj
bin-int/Debug-windows-x86_64/BunnyEngine/Texture.obj
bin-int/Debug-windows-x86_64/BunnyEngine/Timestep.obj
bin-int/Debug-windows-x86_64/BunnyEngine/UniformBuffer.obj
bin-int/Debug-windows-x86_64/BunnyEngine/VertexArray.obj
bin-int/Debug-windows-x86_64/BunnyEngine/WindowsInput.obj
bin-int/Debug-windows-x86_64/BunnyEngine/WindowsPlatformUtils.obj
bin-int/Debug-windows-x86_64/BunnyEngine/WindowsWindow.obj
bin-int/Debug-windows-x86_64/BunnyEngineEditor/BunnyEng.2EAFE47B.tlog/BunnyEngineEditor.lastbuildstate
bin-int/Debug-windows-x86_64/BunnyEngineEditor/BunnyEng.2EAFE47B.tlog/CL.command.1.tlog
bin-int/Debug-windows-x86_64/BunnyEngineEditor/BunnyEng.2EAFE47B.tlog/CL.read.1.tlog
bin-int/Debug-windows-x86_64/BunnyEngineEditor/BunnyEng.2EAFE47B.tlog/CL.write.1.tlog
bin-int/Debug-windows-x86_64/BunnyEngineEditor/BunnyEng.2EAFE47B.tlog/link.command.1.tlog
bin-int/Debug-windows-x86_64/BunnyEngineEditor/BunnyEng.2EAFE47B.tlog/link.read.1.tlog
bin-int/Debug-windows-x86_64/BunnyEngineEditor/BunnyEng.2EAFE47B.tlog/link.write.1.tlog
bin-int/Debug-windows-x86_64/BunnyEngineEditor/BunnyEngineEditor.exe.recipe
bin-int/Debug-windows-x86_64/BunnyEngineEditor/BunnyEngineEditor.ilk
bin-int/Debug-windows-x86_64/BunnyEngineEditor/BunnyEngineEditor.log
bin-int/Debug-windows-x86_64/BunnyEngineEditor/BunnyEngineEditor.obj
bin-int/Debug-windows-x86_64/BunnyEngineEditor/ContentBrowserPanel.obj
bin-int/Debug-windows-x86_64/BunnyEngineEditor/DockSpace.obj
bin-int/Debug-windows-x86_64/BunnyEngineEditor/EditorLayer.obj
bin-int/Debug-windows-x86_64/BunnyEngineEditor/NodeEditorPanel.obj
bin-int/Debug-windows-x86_64/BunnyEngineEditor/SceneHierarchyPanel.obj
bin-int/Debug-windows-x86_64/BunnyEngineEditor/vc142.idb
bin-int/Debug-windows-x86_64/BunnyEngineEditor/vc142.pdb
bin-int/Debug-windows-x86_64/BunnyEngineEditor/ViewportPanel.obj
bin/Debug-windows-x86_64/BunnyEngine/BunnyEngine.idb
bin/Debug-windows-x86_64/BunnyEngine/BunnyEngine.lib
bin/Debug-windows-x86_64/BunnyEngine/BunnyEngine.pdb
bin/Debug-windows-x86_64/BunnyEngineEditor/BunnyEngineEditor.exe
bin/Debug-windows-x86_64/BunnyEngineEditor/BunnyEngineEditor.pdb
BunnyEngine.sln
BunnyEngine/BunnyEngine.vcxproj.filters
BunnyEngine/BunnyEngine.vcxproj.filters
*.filters
*.filters
BunnyEngine/BunnyEngine.vcxproj.filters
